/* index.css */
body {
  margin: 0;
  padding: 0;
  background-color: #1e1e1e;
  font-family: 'Kanit', sans-serif;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}